.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  width: 300px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.404);
  height: 2rem;
}

.completed .todo-text {
  text-decoration: line-through;
}

.views {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
